[build]
  command = "WEATHER_API_KEY=$WEATHER_API_KEY npm run build"
  publish = "dist/learning-angular/browser"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
