<div class="min-h-screen flex flex-col">
  <!-- Hero Image -->
  <div class="w-full h-48 sm:h-64 md:h-80 lg:h-[500px] overflow-hidden mb-5">
    <img
    ngSrc="assets/images/IMG_0720.jpeg"
    width="1920"
    height="1080" 
    alt="Weather"
    aria-hidden="true"
    class="w-full h-full object-cover object-center"
  />
  </div>

  <h1 class="text-white text-center text-3xl font-bold my-4">Weather</h1>

  <div class="flex justify-center gap-4 mb-8">
    <label for="city" class="sr-only">City Name</label>
    <input
      id="city"
      [value]="city"
      (input)="updateCity($event)"
      placeholder="Enter city name"
      class="px-4 py-2 rounded-lg border-2 border-teal-600 focus:outline-none focus:border-teal-800"
    />

    <button
      (click)="fetchWeather()"
      [disabled]="!city"
      class="px-6 py-2 bg-teal-600 text-white rounded-lg hover:bg-teal-700 transition-colors disabled:bg-gray-400 disabled:cursor-not-allowed"
    >
      Get Weather
    </button>
  </div>

  <div class="text-white text-center bg-teal rounded-lg p-10 mb-10 mx-10">
    <div id="map" class="rounded-lg mb-4"></div>
    @if (loading) {
    <p>Loading weather data...</p>
    } @else if (weatherData) {
    <h2 class="text-2xl font-semibold mb-4">
      Weather in {{ weatherData.name }}
    </h2>
    <img
      [src]="getWeatherIcon(weatherData.weather[0].icon)"
      alt="weather icon"
      class="mx-auto w-20 h-20"
    />
    <p class="text-lg mb-2">
      Temperature: {{ Math.round(weatherData.main.temp) }}°C
    </p>
    <p class="text-lg mb-2">
      Condition: {{ weatherData.weather[0].description }}
    </p>
    <p class="text-lg mb-2">
      Feels Like: {{ Math.round(weatherData.main.feels_like) }}°C
    </p>
    <p class="text-lg mb-2">Wind Speed: {{ weatherData.wind.speed }}mph</p>
    <p class="text-lg mb-2">
      Wind Direction: {{ getWindDirection(weatherData.wind.deg) }} ({{
        weatherData.wind.deg
      }}°)
    </p>
    }
  </div>
</div>
