<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-white min-h-screen mb-5">
  <h1 class="text-3xl font-bold m-6 text-center">
    Data Formatting
  </h1>
  <div class="space-y-8">
    <div class="p-4 bg-white text-teal rounded-lg shadow-sm hover:shadow-md transition-shadow">
      <h3 class="text-xl font-semibold mb-2">Data Formatting & Optimization</h3>
      <ul class="list-disc ml-6 space-y-1">
        <li>Built-in Pipes</li>
        <li>Custom Pipes</li>
        <li>Image Optimization</li>
      </ul>
    </div>
  </div>
</section>

